{{>header}}
{{>nav}}
<h2 class="text-center mt-4 fw-bold">TASKS</h2>
<form action="/newtask" method="get" class="mt-5 mx-auto w-75">
    <div class="form-floating mb-3">
        <input type="text" name="title" class="form-control" id="title" placeholder="name@example.com">
        <label for="title">Title....</label>
    </div>
    <div class="form-floating">
        <textarea name="content" class="form-control" placeholder="Leave a comment here" id="Content"
            style="height: 100px"></textarea>
        <label for="Content">Content....</label>
    </div>
    <button class="btn btn-danger mt-5">ADD Task</button>
</form>
{{>footer}}